<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzl.bookstore.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.xzl.bookstore.pojo.po.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="complete_address" property="completeAddress" jdbcType="VARCHAR" />
    <result column="receive_telephone" property="receiveTelephone" jdbcType="VARCHAR" />
    <result column="receive_name" property="receiveName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, complete_address, receive_telephone, receive_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xzl.bookstore.pojo.po.AddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_bookstore_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_bookstore_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_bookstore_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xzl.bookstore.pojo.po.AddressExample" >
    delete from tb_bookstore_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xzl.bookstore.pojo.po.Address" >
    insert into tb_bookstore_address (id, user_id, complete_address, 
      receive_telephone, receive_name)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{completeAddress,jdbcType=VARCHAR}, 
      #{receiveTelephone,jdbcType=VARCHAR}, #{receiveName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzl.bookstore.pojo.po.Address" >
    insert into tb_bookstore_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="completeAddress != null" >
        complete_address,
      </if>
      <if test="receiveTelephone != null" >
        receive_telephone,
      </if>
      <if test="receiveName != null" >
        receive_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="completeAddress != null" >
        #{completeAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveTelephone != null" >
        #{receiveTelephone,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xzl.bookstore.pojo.po.AddressExample" resultType="java.lang.Integer" >
    select count(*) from tb_bookstore_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_bookstore_address
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.completeAddress != null" >
        complete_address = #{record.completeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveTelephone != null" >
        receive_telephone = #{record.receiveTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveName != null" >
        receive_name = #{record.receiveName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_bookstore_address
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      complete_address = #{record.completeAddress,jdbcType=VARCHAR},
      receive_telephone = #{record.receiveTelephone,jdbcType=VARCHAR},
      receive_name = #{record.receiveName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzl.bookstore.pojo.po.Address" >
    update tb_bookstore_address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="completeAddress != null" >
        complete_address = #{completeAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiveTelephone != null" >
        receive_telephone = #{receiveTelephone,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null" >
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzl.bookstore.pojo.po.Address" >
    update tb_bookstore_address
    set user_id = #{userId,jdbcType=INTEGER},
      complete_address = #{completeAddress,jdbcType=VARCHAR},
      receive_telephone = #{receiveTelephone,jdbcType=VARCHAR},
      receive_name = #{receiveName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>