<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzl.bookstore.dao.BookParamMapper" >
  <resultMap id="BaseResultMap" type="com.xzl.bookstore.pojo.po.BookParam" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="catalog" property="catalog" jdbcType="VARCHAR" />
    <result column="chapter1" property="chapter1" jdbcType="VARCHAR" />
    <result column="chapter2" property="chapter2" jdbcType="VARCHAR" />
    <result column="chapter3" property="chapter3" jdbcType="VARCHAR" />
    <result column="book_page" property="bookPage" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="isbn" property="isbn" jdbcType="VARCHAR" />
    <result column="book_edition" property="bookEdition" jdbcType="VARCHAR" />
    <result column="book_words" property="bookWords" jdbcType="VARCHAR" />
    <result column="book_pack" property="bookPack" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, book_id, catalog, chapter1, chapter2, chapter3, book_page, size, isbn, book_edition, 
    book_words, book_pack
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xzl.bookstore.pojo.po.BookParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_bookstore_book_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_bookstore_book_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_bookstore_book_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xzl.bookstore.pojo.po.BookParamExample" >
    delete from tb_bookstore_book_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xzl.bookstore.pojo.po.BookParam" >
    insert into tb_bookstore_book_param (id, book_id, catalog, 
      chapter1, chapter2, chapter3, 
      book_page, size, isbn, 
      book_edition, book_words, book_pack
      )
    values (#{id,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{catalog,jdbcType=VARCHAR}, 
      #{chapter1,jdbcType=VARCHAR}, #{chapter2,jdbcType=VARCHAR}, #{chapter3,jdbcType=VARCHAR}, 
      #{bookPage,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, 
      #{bookEdition,jdbcType=VARCHAR}, #{bookWords,jdbcType=VARCHAR}, #{bookPack,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzl.bookstore.pojo.po.BookParam" >
    insert into tb_bookstore_book_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="catalog != null" >
        catalog,
      </if>
      <if test="chapter1 != null" >
        chapter1,
      </if>
      <if test="chapter2 != null" >
        chapter2,
      </if>
      <if test="chapter3 != null" >
        chapter3,
      </if>
      <if test="bookPage != null" >
        book_page,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="isbn != null" >
        isbn,
      </if>
      <if test="bookEdition != null" >
        book_edition,
      </if>
      <if test="bookWords != null" >
        book_words,
      </if>
      <if test="bookPack != null" >
        book_pack,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="chapter1 != null" >
        #{chapter1,jdbcType=VARCHAR},
      </if>
      <if test="chapter2 != null" >
        #{chapter2,jdbcType=VARCHAR},
      </if>
      <if test="chapter3 != null" >
        #{chapter3,jdbcType=VARCHAR},
      </if>
      <if test="bookPage != null" >
        #{bookPage,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="bookEdition != null" >
        #{bookEdition,jdbcType=VARCHAR},
      </if>
      <if test="bookWords != null" >
        #{bookWords,jdbcType=VARCHAR},
      </if>
      <if test="bookPack != null" >
        #{bookPack,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xzl.bookstore.pojo.po.BookParamExample" resultType="java.lang.Integer" >
    select count(*) from tb_bookstore_book_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_bookstore_book_param
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bookId != null" >
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.catalog != null" >
        catalog = #{record.catalog,jdbcType=VARCHAR},
      </if>
      <if test="record.chapter1 != null" >
        chapter1 = #{record.chapter1,jdbcType=VARCHAR},
      </if>
      <if test="record.chapter2 != null" >
        chapter2 = #{record.chapter2,jdbcType=VARCHAR},
      </if>
      <if test="record.chapter3 != null" >
        chapter3 = #{record.chapter3,jdbcType=VARCHAR},
      </if>
      <if test="record.bookPage != null" >
        book_page = #{record.bookPage,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.isbn != null" >
        isbn = #{record.isbn,jdbcType=VARCHAR},
      </if>
      <if test="record.bookEdition != null" >
        book_edition = #{record.bookEdition,jdbcType=VARCHAR},
      </if>
      <if test="record.bookWords != null" >
        book_words = #{record.bookWords,jdbcType=VARCHAR},
      </if>
      <if test="record.bookPack != null" >
        book_pack = #{record.bookPack,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_bookstore_book_param
    set id = #{record.id,jdbcType=INTEGER},
      book_id = #{record.bookId,jdbcType=INTEGER},
      catalog = #{record.catalog,jdbcType=VARCHAR},
      chapter1 = #{record.chapter1,jdbcType=VARCHAR},
      chapter2 = #{record.chapter2,jdbcType=VARCHAR},
      chapter3 = #{record.chapter3,jdbcType=VARCHAR},
      book_page = #{record.bookPage,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      isbn = #{record.isbn,jdbcType=VARCHAR},
      book_edition = #{record.bookEdition,jdbcType=VARCHAR},
      book_words = #{record.bookWords,jdbcType=VARCHAR},
      book_pack = #{record.bookPack,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzl.bookstore.pojo.po.BookParam" >
    update tb_bookstore_book_param
    <set >
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="catalog != null" >
        catalog = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="chapter1 != null" >
        chapter1 = #{chapter1,jdbcType=VARCHAR},
      </if>
      <if test="chapter2 != null" >
        chapter2 = #{chapter2,jdbcType=VARCHAR},
      </if>
      <if test="chapter3 != null" >
        chapter3 = #{chapter3,jdbcType=VARCHAR},
      </if>
      <if test="bookPage != null" >
        book_page = #{bookPage,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null" >
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="bookEdition != null" >
        book_edition = #{bookEdition,jdbcType=VARCHAR},
      </if>
      <if test="bookWords != null" >
        book_words = #{bookWords,jdbcType=VARCHAR},
      </if>
      <if test="bookPack != null" >
        book_pack = #{bookPack,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzl.bookstore.pojo.po.BookParam" >
    update tb_bookstore_book_param
    set book_id = #{bookId,jdbcType=INTEGER},
      catalog = #{catalog,jdbcType=VARCHAR},
      chapter1 = #{chapter1,jdbcType=VARCHAR},
      chapter2 = #{chapter2,jdbcType=VARCHAR},
      chapter3 = #{chapter3,jdbcType=VARCHAR},
      book_page = #{bookPage,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      isbn = #{isbn,jdbcType=VARCHAR},
      book_edition = #{bookEdition,jdbcType=VARCHAR},
      book_words = #{bookWords,jdbcType=VARCHAR},
      book_pack = #{bookPack,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>